<%= form_for(post, url: authors_posts_url) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>
  <div class="field">
    <%= form.label :banner_image_url %>
    <%= form.text_field :banner_image_url, id: :post_banner_image_url %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.cktext_area :body, id: :post_body %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.cktext_area :description, id: :post_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <%= form.cktext_area :notes, class: 'someclass', ckeditor: { language: 'us'} %>
  <%= form.cktext_area :content, value: 'Default value', id: 'sometext' %>
  <%= cktext_area :page, :info, cols: 40, ckeditor: { uiColor: '#AADC6E', toolbar: 'mini' } %>

<% end %>
