<div class="col-sm-6 col-lg-4">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title"><%= link_to post.title, post %></h4>
      <p class="tags"><%= raw post.tags.map { |t| link_to t.name, posts_path(tag: t.name ) }.join(', ') %></p>
      <br>
      <%= link_to post do %>
      <div class="card-topper" style="background-image: url(<%= post.banner_image_url %>);">
      </div>
      <% end %>
      <p class="card-text"><%= truncate(post.description, length: 130) %></p>
    </div>
    <div class="card-block">
      <p class="published-date"><%= post.display_day_published%>
      <!-- <p class="published-date">by <%= post.source%> -->
         <!-- <%= post.title %> -->
       </p>
       <!-- <%= social_share_button_tag(post.title)%> -->
      <%= link_to 'Read Story...', post.url, class: 'btn btn-read' %>
      <%= link_to 'Comments', post, class: 'btn btn-read' %>
      <%= link_to 'Share', 'https://www.facebook.com/sharer/sharer.php?u=http://www.thenewspanel.com/', target: "_blank", class: 'btn btn-primary' %>
    </div>

  </div>
</div>


<div class="container">
  <div class="row row-body zoomer">
            

<div id="blocks-wrapper" class="clearfix">
    <!--#blocks-left-or-right-->

    <div id="blocks-left" class="eleven columns clearfix">

        <div class="blog-lists-blog clearfix">
            <div class="blogposts-wrapper clearfix">
                    <div class="blogposts-inner">
                        <ul>
                            <li class="full-left clearfix">
                                <div class="magbig-thumb  post type-post status-publish format-standard">
                                    <a href="/news/megafon-and-raiffeisen-bank-complete-first-blockchain-based-ruble-bond-placement" rel="bookmark" title="MegaFon and Raiffeisen Bank complete first blockchain-based ruble bond placement"><img src="/data/news/v-636505751765773605/news-index-138.png" width="60" height="60" alt="MegaFon and Raiffeisen Bank complete first blockchain-based ruble bond placement"></a>
                                </div>
                                <div class="list-block clearfix">
                                    <h3><a href="/news/megafon-and-raiffeisen-bank-complete-first-blockchain-based-ruble-bond-placement" title="MegaFon and Raiffeisen Bank complete first blockchain-based ruble bond placement">MegaFon and Raiffeisen Bank complete first blockchain-based ruble bond placement</a></h3>
                                    <div class="post-meta-blog">
                                        <span class="meta_date">03. Jan 2018 - </span>
                                            <span class="meta_author">by <strong><a href="/news/author/daniel-d">Daniel D</a></strong></span>
                                        <span class="meta_category"> on <a href="/news/category/news">News</a></span>
                                    </div>
                                    <div class="maga-excerpt clearfix">
                                        <p>MegaFon and Raiffeisen Bank complete first ruble bond placement, via the use of regulatory-sanctioned blockchain technology. </p>
                                    </div>
                                

                                </div>
                            </li>
                        </ul>
                        <br class="clear">
                    </div>
                    <div class="blogposts-inner">
                        <ul>
                            <li class="full-left clearfix">
                                <div class="magbig-thumb  post type-post status-publish format-standard">
                                    <a href="/news/peter-theil’s-founders-fund-has-heavily-invested-in-bitcoins" rel="bookmark" title="Peter Theil’s Founders Fund Has Heavily Invested in Bitcoins"><img src="/data/news/v-636505681092873667/news-index-137.png" width="60" height="60" alt="Peter Theil’s Founders Fund Has Heavily Invested in Bitcoins"></a>
                                </div>
                                <div class="list-block clearfix">
                                    <h3><a href="/news/peter-theil’s-founders-fund-has-heavily-invested-in-bitcoins" title="Peter Theil’s Founders Fund Has Heavily Invested in Bitcoins">Peter Theil’s Founders Fund Has Heavily Invested in Bitcoins</a></h3>
                                    <div class="post-meta-blog">
                                        <span class="meta_date">03. Jan 2018 - </span>
                                            <span class="meta_author">by <strong><a href="/news/author/akolkar-b">Akolkar B</a></strong></span>
                                        <span class="meta_category"> on <a href="/news/category/news">News</a></span>
                                    </div>
                                    <div class="maga-excerpt clearfix">
                                        <p>Silicon Valley and PayPal billionaire - Peter Theil is said to have parked millions of dollars in Bitcoin investments. </p>
                                    </div>
                                

                                </div>
                            </li>
                        </ul>
                        <br class="clear">
                    </div>
                    <div class="blogposts-inner">
                        <ul>
                            <li class="full-left clearfix">
                                <div class="magbig-thumb  post type-post status-publish format-standard">
                                    <a href="/news/bitcoin-contributes-to-the-growth-in-japan’s-gdp-figures" rel="bookmark" title="Bitcoin Contributes to the Growth in Japan’s GDP Figures"><img src="/data/news/v-636505082062698857/news-index-136.png" width="60" height="60" alt="Bitcoin Contributes to the Growth in Japan’s GDP Figures"></a>
                                </div>
                                <div class="list-block clearfix">
                                    <h3><a href="/news/bitcoin-contributes-to-the-growth-in-japan’s-gdp-figures" title="Bitcoin Contributes to the Growth in Japan’s GDP Figures">Bitcoin Contributes to the Growth in Japan’s GDP Figures</a></h3>
                                    <div class="post-meta-blog">
                                        <span class="meta_date">02. Jan 2018 - </span>
                                            <span class="meta_author">by <strong><a href="/news/author/akolkar-b">Akolkar B</a></strong></span>
                                        <span class="meta_category"> on <a href="/news/category/news">News</a></span>
                                    </div>
                                    <div class="maga-excerpt clearfix">
                                        <p>Bitcoin gains have helped Japan’s GDP climb by 0.3% as per data and statistics released by one of the country’s largest banks ‘Nomura’</p>
                                    </div>
                                

                                </div>
                            </li>
                        </ul>
                        <br class="clear">
                    </div>
                    <div class="blogposts-inner">
                        <ul>
                            <li class="full-left clearfix">
                                <div class="magbig-thumb  post type-post status-publish format-standard">
                                    <a href="/news/bank-of-england-could-release-its-own-bitcoin-style-cryptocurrency-this-year" rel="bookmark" title="Bank of England Could Release Its Own Bitcoin-Style Cryptocurrency This Year"><img src="/data/news/v-636504834682492377/news-index-135.png" width="60" height="60" alt="Bank of England Could Release Its Own Bitcoin-Style Cryptocurrency This Year"></a>
                                </div>
                                <div class="list-block clearfix">
                                    <h3><a href="/news/bank-of-england-could-release-its-own-bitcoin-style-cryptocurrency-this-year" title="Bank of England Could Release Its Own Bitcoin-Style Cryptocurrency This Year">Bank of England Could Release Its Own Bitcoin-Style Cryptocurrency This Year</a></h3>
                                    <div class="post-meta-blog">
                                        <span class="meta_date">02. Jan 2018 - </span>
                                            <span class="meta_author">by <strong><a href="/news/author/akolkar-b">Akolkar B</a></strong></span>
                                        <span class="meta_category"> on <a href="/news/category/news">News</a></span>
                                    </div>
                                    <div class="maga-excerpt clearfix">
                                        <p>The Governor of Bank of England has shown positive signs and interest in adopting the decentralized distributed ledger mechanism.</p>
                                    </div>
                                

                                </div>
                            </li>
                        </ul>
                        <br class="clear">
                    </div>
                    <div class="blogposts-inner">
                        <ul>
                            <li class="full-left clearfix">
                                <div class="magbig-thumb  post type-post status-publish format-standard">
                                    <a href="/news/ethereum-classic-kicks-off-the-year-2018-with-30-spike-due-to-tech-update" rel="bookmark" title="Ethereum Classic Kicks off the Year 2018 With 30% Spike Due to Tech Update"><img src="/data/news/v-636504422549367992/news-index-134.png" width="60" height="60" alt="Ethereum Classic Kicks off the Year 2018 With 30% Spike Due to Tech Update"></a>
                                </div>
                                <div class="list-block clearfix">
                                    <h3><a href="/news/ethereum-classic-kicks-off-the-year-2018-with-30-spike-due-to-tech-update" title="Ethereum Classic Kicks off the Year 2018 With 30% Spike Due to Tech Update">Ethereum Classic Kicks off the Year 2018 With 30% Spike Due to Tech Update</a></h3>
                                    <div class="post-meta-blog">
                                        <span class="meta_date">01. Jan 2018 - </span>
                                            <span class="meta_author">by <strong><a href="/news/author/akolkar-b">Akolkar B</a></strong></span>
                                        <span class="meta_category"> on <a href="/news/category/news">News</a></span>
                                    </div>
                                    <div class="maga-excerpt clearfix">
                                        <p>The major surge is the price of Ethereum Classic due to huge buying by South Korean investors.</p>
                                    </div>
                                

                                </div>
                            </li>
                        </ul>
                        <br class="clear">
                    </div>
            </div>
        </div>
        <div class="pagination clearfix">
                        <a href="javascript:void(0)" class="page-selected">1</a>
                        <a href="/news/page/2">2</a>
                        <a href="/news/page/3">3</a>
                        <a href="/news/page/4">4</a>
                        <a href="/news/page/5">5</a>
                        <a href="/news/page/6">6</a>
                        <a href="/news/page/7">7</a>
                        <a href="/news/page/8">8</a>
                        <a href="/news/page/9">9</a>
                        <a href="/news/page/10">10</a>
                        <a href="/news/page/11">11</a>
                        <a href="/news/page/12">12</a>
                        <a href="/news/page/13">13</a>
                        <a href="/news/page/14">14</a>
                        <a href="/news/page/15">15</a>
                        <a href="/news/page/16">16</a>
                        <a href="/news/page/17">17</a>
                        <a href="/news/page/18">18</a>
                        <a href="/news/page/19">19</a>
                        <a href="/news/page/20">20</a>
                        <a href="/news/page/21">21</a>
                        <a href="/news/page/22">22</a>
                        <a href="/news/page/23">23</a>
                        <a href="/news/page/24">24</a>
                        <a href="/news/page/25">25</a>
                        <a href="/news/page/26">26</a>
                        <a href="/news/page/27">27</a>
        </div>
    </div>
    <div class="mobile-middle-banner">
        



<div class="wrapper3">
    <div class="carousel">
        <ul style="position: relative; overflow: hidden; display: block; height: 50px;">

              <li class="freestar1" style="position: absolute; cursor: pointer; overflow: hidden; display: block; width: 0px; left: 0px; height: auto;">
                <figure><div align="center" id="mob_homemid_320_50"><script data-cfasync="false" type="text/javascript">freestar.queue.push(function () { googletag.display('mob_homemid_320_50'); });</script></div></figure>
            </li>

        </ul>
    </div>
</div>


    </div>
    <div id="sidebar" class="six columns  clearfix">
        <div id="recent-posts-3" class="sidebar-widget widget_recent_entries">
            <h3 class="widget-head">Recent Posts</h3>   <ul>
                    <li>
                        <a href="/news/megafon-and-raiffeisen-bank-complete-first-blockchain-based-ruble-bond-placement">MegaFon and Raiffeisen Bank complete first blockchain-based ruble bond placement</a>
                    </li>
                    <li>
                        <a href="/news/peter-theil’s-founders-fund-has-heavily-invested-in-bitcoins">Peter Theil’s Founders Fund Has Heavily Invested in Bitcoins</a>
                    </li>
                    <li>
                        <a href="/news/bitcoin-contributes-to-the-growth-in-japan’s-gdp-figures">Bitcoin Contributes to the Growth in Japan’s GDP Figures</a>
                    </li>
                    <li>
                        <a href="/news/bank-of-england-could-release-its-own-bitcoin-style-cryptocurrency-this-year">Bank of England Could Release Its Own Bitcoin-Style Cryptocurrency This Year</a>
                    </li>
                    <li>
                        <a href="/news/ethereum-classic-kicks-off-the-year-2018-with-30-spike-due-to-tech-update">Ethereum Classic Kicks off the Year 2018 With 30% Spike Due to Tech Update</a>
                    </li>

            </ul>
        </div>
        <div id="archives-3" class="sidebar-widget widget_archive">
            <h3 class="widget-head">Most popular</h3>   <ul>
                    <li>
                        <a href="/news/top-10-cryptocurrencies-of-2017">Top 10 Cryptocurrencies of 2017 </a>
                    </li>
                    <li>
                        <a href="/news/the-ripple-(xrp)-and-lumens-(xlm)-reaching-new-heights">The Ripple (XRP) and Lumens (XLM) reaching new heights</a>
                    </li>
                    <li>
                        <a href="/news/upcoming-bitcoin-flash-hard-fork-can-solve-the-major-issue-of-bitcoin’s-slow-transaction-speed">Upcoming Bitcoin Flash Hard Fork Can Solve the Major Issue of Bitcoin’s Slow Transaction Speed</a>
                    </li>
                    <li>
                        <a href="/news/australian-banks-freeze-customer-accounts-linked-to-crypto-activity">Australian Banks Freeze Customer Accounts Linked to Crypto Activity</a>
                    </li>
                    <li>
                        <a href="/news/tenx-founder-says-bitcoin-might-hit-60-000-but-a-major-correction-is-inevitable">TenX Founder Says Bitcoin Might Hit $60,000, But a Major Correction is Inevitable</a>
                    </li>

            </ul>
        </div>
        <div id="categories-3" class="sidebar-widget widget_categories">
            <h3 class="widget-head">Categories</h3>   
            <ul>
                <li class="cat-item cat-item-5">
                 <a href="/news">News</a>
                </li>
                <li class="cat-item cat-item-6">
                    <a href="/news/category/press-release">Press Release</a>
                </li>
                <li class="cat-item cat-item-8">
                    <a href="/news/category/guides">Guides</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mobile-middle-banner">
        <div class="largesomethingcontainer">
        <div class="carousel"><div align="center" id="mob_homelow_300_250"><script data-cfasync="false" type="text/javascript">freestar.queue.push(function () { googletag.display('mob_homelow_300_250'); });</script></div></div>
</div>
    </div>
</div>





        </div>
</div>
