<%= form_for(post, url: url, html:{multipart: true} ) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <% if @post.new_record? %>
          <h4 class="card-title">New Post</h4>
          <% else %>
          <h4 class="card-title">
            <b>Edit</b>
            <span class="thin-text"><%= @post.title %></span>
          </h4>
          <% end %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="field">
              <%= form.collection_select :category_id, Category.all, :id, :name%>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label :title %>
              <%= form.text_field :title, class: 'form-control', id: :post_title %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label :banner_image_url %>
              <%= form.text_field :banner_image_url, class: 'form-control', id: :post_banner_image_url %>
            </div>
          </li>
          <li class="list-group-item">
            Or
            <div class="field">
              <!-- <%= form.label :photo %> -->
              <%= form.file_field :photo, class: 'form-control', id: :post_photo %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label :audioUpload %>
              <%= form.file_field :music, class: 'form-control', id: :post_music %>
            </div>
          </li>
          <!-- <li class="list-group-item">
            <div class="field">
              <%= form.label :movie %>
              <%= form.file_field :movie, class: 'form-control', id: :post_movie %>
            </div>
          </li> -->
          <li class="list-group-item">
            <div class="field">
              <%= form.label :url %>
              <%= form.text_field :url, input_html: { class: 'form-control' }, placeholder: "copy and paste page link" %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label :description %>
              <%= form.text_area :description, class: 'form-control', id: :post_description %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label 'Tags' %>
              <%= form.text_area :tag_list, class: 'form-control', id: :post_description %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label :source %>
              <%= form.text_area :source, class: 'form-control', id: :post_source %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="actions">
              <%= form.submit "Save Post", class: 'btn btn-success btn-lg btn-block' %>
            </div>
          </li>
        </ul>
      </div>
      <% if @post.persisted? %>
      <%= link_to 'Show', @post %> |
      <% end %>
      <%= link_to 'Back', authors_posts_path %>
    </div>
    <div class="col-md-8" style="padding-top:85px;">
      <textarea class="ckeditor" name="editor" rows="8" cols="80"></textarea>
    </div>
  </div>


<% end %>
