
<div class="collapse" id="exCollapsingNavbar">
  <div class="collapse-bg p-a-1">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to 'Home', welcome_home_path, class: "nav-link #{yield(:news_active)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'All News', root_path, class: "nav-link #{yield(:news_active)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
        </li>
        <li class="list-group-item">
          <% Category.all.each do |category| %>
          <li class="list-group-item">
            <%= link_to category.name, posts_path(category: category.name), class: "nav-link #{yield(:news_active)}"  %>
          </li>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
        <% if author_signed_in? %>

        <li class="list-group-item dropdown">
          <a  class="nav-link dropdown-toggle <%= yield(:author) %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_author.display_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'New Post', new_authors_post_path, class: "dropdown-item" %>
            <%= link_to 'My Post', authors_posts_path, class: "dropdown-item" %>
            <%= link_to 'Account', authors_account_path, class: "dropdown-item" %>
            <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
          </div>

        </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>

<!-- <nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="/">
      News<span class="light">panel</span>
    </a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right "type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <ul class="nav navbar-nav pull-sm-right hidden-xs-down">
      <li class="nav-item">
        <%= link_to 'News', root_path, class: "nav-link #{yield(:news_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Travel', travel_path, class: "nav-link #{yield(:travel_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Politics In Africa', politics_in_africa_path, class: "nav-link #{yield(:politics_in_africa_active)}" %>
      </li>
      <% if author_signed_in? %>
      <li class="nav-item">
        <%= link_to 'My Post', authors_posts_path, class: "nav-link #{yield(:author)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "nav-link" %>
      </li>
      <%end%>

    </ul>
  </div>
</nav> -->

<!-- You opening the door to something great. Inob is like opening the door to the lab.
Help people or businesses. You going into cm lab or rn logics lab. We transforming business through website.
We are going to customized the website for you.
Anna for example, need customers to ....
Need to be a functional website for the user and the website. Customized Website to our client's need.
Anna I understand you need to wwebsite and how can we make your business more efficent. Your business need those metrics and comment whereas you can get reviews
to measure the statistics and that is going to bring more business. Allow customers to send feedbacks
Maybe Anna needs a password to get
budget analysis based on supplies that she uses.
We are helping business not just with a website but to help you organize your business to get to the next level
Creating a Website and then just say bye but to help you improve your business over all.
Central online place where  -->

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark navbar-right">
    <a class="navbar-brand" href="/">
      I B <span class="light">L</span>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"  id="navbarToggler">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item" >
        <%= link_to welcome_home_path(@posts) do %>
        <i class="fa fa-home fa-2x" style="" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="nav-item" >
        <%= link_to 'Recent News', root_path, class: "nav-link #{yield(:news_active)}" %>
      </li>
      <li class="nav-item">
        <% Category.all.each do |category| %>
        <li class="nav-item">
          <%= link_to category.name, posts_path(category: category.name), class: "nav-link #{yield(:news_active)}"  %>
        </li>
        <% end %>
      </li>
     <li class="nav-item">
        <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
      </li>
     <li class="nav-item">
        <%= link_to 'Log In', author_session_path, class: "nav-link #{yield(:about_active)}" %>
      </li>
      <!-- <li class="nav-item">
        <%= link_to 'Projects', travel_path, class: "nav-link #{yield(:travel_active)}" %>
      </li> -->
      <!-- <li class="nav-item">
        <%= link_to 'Business', politics_in_africa_path, class: "nav-link #{yield(:politics_in_africa_active)}" %>
      </li> -->
      <!-- <li class="nav-item">
        <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
      </li> -->
      <% if author_signed_in? %>

      <li class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle <%= yield(:author) %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_author.display_name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'New Post', new_authors_post_path, class: "dropdown-item" %>
          <%= link_to 'My Post', authors_posts_path, class: "dropdown-item" %>
          <%= link_to 'Account', authors_account_path, class: "dropdown-item" %>
          <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
        </div>

      </li>
      <%end%>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </ul>
  </div>
</nav>
