<!DOCTYPE html>
<html>
  <head>
    <title> The NewsPanel | <%= yield(:page_title) %> </title>
    <title><%= @meta_title ? @meta_title : ApplicationController::BRAND_NAME %></title>
      <% if @meta_description.present? %>
        <meta name=”description” content=”<%= @meta_description %>”>
      <% end %>
    <%= csrf_meta_tags %>
    <meta name="Viewport"           content="width=device-width, initial-scale=1.0">
    <meta property="og:image"       content="<%= asset_url "https://s17.postimg.org/ccr5g4sn3/thenewspanellogo.png"%>"/>
    <meta property="og:title"       content="The Newspanel | Global Trending News">
    <meta property="og:type"        content="article">
    <meta property="og:url"         content="http://www.thenewspanel.com">
    <meta property="og:site_name"   content="The NewsPanel">
    <meta property="fb:app_id"      content="133367770708729">
    <meta property="og:description" content="The Newspanel brings together news and popular stories from the world’s most respected publishers.
      There’s a story for everyone—from politics to popular recipes, travel to tech, business to entertainment. Reading the news has never been easier especially with everything in one panel.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?cz549ota6d53mqkxvztmpe3y9zy9mu9u7s767dg2weo3okyo"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110861700-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110861700-1');
    </script>
    <% if Rails.env.production? %>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-110861700-1', 'auto');
      </script>
      <% end %>
  </head>

  <body>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '133367770708729',
      xfbml      : true,
      version    : 'v2.11'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <%= render 'layouts/navbar' %>
    <!-- <% if notice || alert %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %> -->
    <div class="container <%= controller_name %> <%= action_name %> ">
        <% if flash.any? %>
          <% flash.keys.each do |key| %>
            <div class="alert alert-<%= key.to_s %> alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <%= flash[key] %>
              </div>
          <% end %>
        <% end %>
      <%= yield %>
    </div>
    <br>
    <footer>
<section>
  <ul class="social">
    <li><p>Follow Us</p>
    <a href="https://www.facebook.com/The-Newspanel-172833856644680/?modal=admin_todo_tour"><img src="http://www.w3newbie.com/wp-content/uploads/facebook1.png" alt="" /></a></li>
    <li><a href="https://twitter.com/The_Newspanel"><img src="http://www.w3newbie.com/wp-content/uploads/twitter1.png" alt="" /></a></li>
    <!-- <li><a href="https://www.youtube.com/dashboard?o=U"><img src="http://www.w3newbie.com/wp-content/uploads/youtube1.png" alt="" /></a></li> -->
    <li> <p>Copyright &copy 2018 <%= link_to "-", author_session_path %>  <b>The NewsPanel</b><%= link_to ".", new_author_registration_path %></p>
</li>
  </ul>
</section>
</footer>
  </body>
</html>
