<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | NewsPanel</title>
    <title><%= @meta_title ? @meta_title : ApplicationController::BRAND_NAME %></title>
      <% if @meta_description.present? %>
        <meta name=”description” content=”<%= @meta_description %>”>
      <% end %>
    <%= csrf_meta_tags %>
    <meta name="Viewport"           content="width=device-width, initial-scale=1.0">
    <meta property="og:title"               content="The Newspanel | Global Trending News">
    <meta property="og:type"                content="article">
    <meta property="og:description"         content="The Newspanel brings together news and popular stories from the world’s most respected publishers.
    There’s a story for everyone—from politics to popular recipes, travel to tech, business to entertainment. Reading the news has never been easier especially with everything in one panel.">
    <meta property="og:url"                 content="http://www.thenewspanel.com/">
    <meta property="og:image"               content="http://rustrade.org.uk/rus/wp-content/uploads/obzor-press.jpg">
    <!-- <meta property="og:image"               content="https://mmaricordia.com/wp-content/uploads/2014/03/images.jpg"> -->
    <meta property="og:site_name"           content="The Newspanel">
    <meta property="fb:app_id"              content="133367770708729">

    <meta name="twitter:card"               content="summary_large_image">
    <meta name="twitter:image:alt"          content="https://mmaricordia.com/wp-content/uploads/2014/03/images.jpg">
    <meta name="twitter:site"               content="@The_Newspanel">

    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container <%= controller_name %> <%= action_name %> ">
      <%= yield %>

    </div>
  </body>
</html>
